.main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    flex-direction: column;
    width: 200px;
  }